
<h1>ORDERS</h1>
<ul>
  <% @orders.each do |order| %>
    <li>
      <%= order.name %>
      <button>See Order</button>
    </li>
  <% end %>
</ul>
<button onclick="createNewOrder()">Create New Order</button><br/>
<%= link_to "Home Page", root_path %><br/>
<%= link_to "Products Page", products_path %>

